<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<div class="w3-top">
    <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    {% if request.user.is_authenticated %}
    <p>Hello, {{request.user.username}}</p>
        <a href="" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Medicinal stock</a>
        <a href="Sourcesofknowledge" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sources of knowledge</a>
        <a href="customersatisfactionsurvey" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Satisfaction Survey</a>
        <a href="logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
        <a href="account" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">account</a>
    {% else %}
        <a href="" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
        <a href="register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Registry</a>
        <a href="Sourcesofknowledge" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sources of knowledge</a>
    {% endif %}
  </div>
</div>


